.container {
  position: relative;
  background-color: rgba(54, 88, 150, 0.39);
  padding: 2rem;
  min-width: 474px;
  min-height: 600px;
  border-radius: 10% 30% 10% 10% / 10% 30% 10% 10%;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.glass {
  position: absolute;
  backdrop-filter: blur(2px);
  filter: brightness(1.3) saturate(1.5) url(#glass);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  min-width: 474px;
  min-height: 600px;
  border-radius: 10% 30% 10% 10% / 10% 30% 10% 10%;
  margin-left: -2rem;
  margin-top: -2rem;
  z-index: -1;
}

.cloud {
  position: fixed;
  width: 200px;
  transform: translate(-80px, -130px);
}

.search-btn {
  position: absolute;
  border: none;
  padding: 3px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 100%;
  left: 200px;
  top: 32px;
  cursor: pointer;
}


.checkboxlabel input {
  display: none;
}


.checkboxlabel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 3px;
  background-color: rgba(20, 20, 129, 0.635);
  margin-bottom: -26px;
  top: -9px;
  left: 150px;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  padding: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
}

.slider::before {
  position: absolute;
  padding-top: 1px;
  top: -27px;
  left: -3px;
  z-index: 1;
  content: "●";
  color: rgb(130, 132, 255);
  font-size: 45px;
  transition: .5s ease;
}

.slider::after {
  position: absolute;
  content: "°C";
  font-weight: bold;
  right: 4px;
  transition: .5s;
}

input:checked+.slider::after {
  position: absolute;
  content: "°F";
  font-weight: bold;
  left: 4px;
}

input:checked+.slider {
  background-color: var(--text-bg);
}

input:checked+.slider::before {
  transform: translateX(24px);
  content: "●";
  color: rgb(130, 132, 255);
  font-size: 45px;
}

.slider.round {
  border-radius: 35px;
}


@media (max-width: 425px) {
  img {
    left: -5px;
  }

  .container {
    min-width: 425px;
    width: 435px;
    height: 600px;
  }

  .glass {
    min-width: 425px;
    width: 435px;
    height: 600px;
  }

  .search-btn {
    top: 42px;
    left: 285px;
  }

  .checkboxlabel{
    left: 240px;
    top: -9px;
  }
}