html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

[data-theme="sky"] {
  --bg: url("https://static.vecteezy.com/system/resources/previews/003/692/649/large_2x/beautiful-clear-blue-sky-in-summer-look-lke-heaven-free-photo.jpg")
}

[data-theme="clouds"] {
  --bg: url("https://wallpaperaccess.com/full/1462190.jpg")
}

[data-theme="rain"] {
  --bg: url("https://static.vecteezy.com/system/resources/thumbnails/025/555/130/original/rain-drops-pouring-down-on-window-glass-with-urban-city-skyline-view-on-a-rainy-weather-day-video.jpg")
}

[data-theme="thunderstorm"] {
  --bg: url("https://th.bing.com/th/id/OIP.sV2ANtBODvrKHohYCpMZ2wHaEK?r=0&o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3")
}

[data-theme="snow"] {
  --bg: url("https://static.planetminecraft.com/files/image/minecraft/texture-pack/2022/605/16290084-snowyleaveswithshaders_xl.webp")
}

[data-theme="mist"] {
  --bg: url("https://tse1.mm.bing.net/th/id/OIP.8KdffgUX64aGGBuKSH7AfwHaE8?r=0&rs=1&pid=ImgDetMain&o=7&rm=3")
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 85);
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 0.5s ease;
}

@media (max-width:480px) {
  body {
    background-size: auto;
  }
}