h2 {
    font-weight: 500;
    width: 270px;
}

.name {
    color: rgb(255, 235, 124);
    letter-spacing: 1px;
    font-weight: 650;
}


p {
    display: flex;
    align-items: center;
}

.symbol {
    font-size: larger;
}

.wind {
    font-size: xx-large;
    line-height: 30px;
}

.forecast {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conditions {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    column-gap: 10px;
}

.conditions p:has(strong) {
    width: 60px;
    border-right: solid white;
}

.conditions p,
h3 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 90px;
    font-weight: normal;
    font-size: medium;
    margin-bottom: 5px;
    margin-right: -10px;
}

.conditions img {
    position: absolute;
    width: 50px;
    top: 0px;
    left: 20px;
}

.has-weather-icon {
    transform: translateY(-12px);
}

.no-result {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 60px;
}

@media (max-width:425px) {
    h2 {
        display: flex;
        flex-direction: column;
        place-self: center;
        margin-top: 30px;
    }

    .conditions p {
        margin-right: -20px;
    }
}